<header>
   	<div id="bp-nav" class="navbar navbar-default navbar-fixed-top">
   		<div class="container">
   			<div class="navbar-header">
   			</div>
   			<div class="collapse navbar-collapse navbar-top-collapse">
   				<ul class="nav navbar-nav navbar-right" id="top_menu">
   					<li>
   						<input style="" id="fileDialog" type="file" />
   					</li>
   					<li class="dropdown ">
   						<select id="filterGenre" >
							<option value="all">All Genres</option>
							<option value="Drama">Drama</option>
							<option value="Fantasy">Fantasy</option>
							<option value="Action">Action</option>
							<option value="Horror">Horror</option>
							<option value="Comedy">Comedy</option>
							<option value="Adventure">Adventure</option>
							<option value="Romance">Romance</option>
							<option value="Sci-Fi">Sci-Fi</option>
						</select>
   					</li>
   				</ul>
   			</div>
   		</div>
    </div>
</header>
<div id="moviesContent" class="row">
</div>

